.image-content {
    display: flex;
    align-items: center;
    justify-content: center;
    .bg-image {
        background-image: url("../../../static/images/default_user.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 103px;
        width: 515px;
    }
}
