/* Responsiveness mixins */
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}

/* Grid */
.main-layout {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
